* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nova Round', cursive;
    background: #ffc107;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Concert One', cursive;
}

.searchBox {
    position: absolute;
    top: 135%;
    left: 70%;
    transform: translate(-50%, 50%);
    background: #ffc107;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    box-sizing: initial;
}

.searchBox:hover>.searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover>.searchButton {
    background: white;
    color: black;
}

.searchButton {
    color: black;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffc107;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-family: 'Concert One', cursive;
}

 ::placeholder {
    color: white;
}

@media screen and (max-width: 620px) {
    .searchBox:hover>.searchInput {
        width: 150px;
        padding: 0 6px;
    }
}

.wrap {
    background: rgba(0, 0, 0, 0.5) url(../img/background.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 114vh;
    overflow: hidden;
    background-blend-mode: overlay;
}

.wave {
    position: absolute;
    width: 100%;
    bottom: -140px;
    color: #fff;
    opacity: 1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 80px;
    background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.6));
}

.disable-link {
    pointer-events: none;
}

header .logo {
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    float: left;
}

header .menu {
    float: right;
    margin-top: 5px;
}

header ul li {
    display: inline-block;
}

header ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    margin: 0 25px;
    font-weight: 300;
    letter-spacing: 1px;
}

.content {
    max-width: 55%;
    padding: 200px 80px 0;
    color: #fff;
}

.content h1 {
    font-size: 48px;
}

.content p {
    font-size: 20px;
    padding: 25px 0;
    font-weight: 300;
}

.content .btn-group {
    margin-top: 45px;
}

.content a {
    display: inline-block;
    padding: 15px 45px;
    text-decoration: none;
    color: #fff;
    border-radius: 50px;
}

.content a.color1 {
    background-color: #ffc107;
}

.contact-in {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px #666;
}

.contact-map {
    width: 100%;
    height: auto;
    flex: 50%;
}

.contact-search {
    width: 100%;
    height: auto;
    flex: 50%;
    padding: 30px;
    text-align: center;
}

.contact-search h1 {
    margin-bottom: 10px;
}

#map {
    width: 100%;
    height: 400px;
}

.logomap {
    height: 50px;
    width: 50px;
}