{{define "aboutUs"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ABOUT KAPORAL</title>

  <link rel="stylesheet" href="/assets/styles/aboutUs.css">
</head>

<body>

  <body>
    <div class=container>
      <div class=card>
        <div class=image>
          <img src="/assets/images/Ella-removebg-preview.png" alt="ella une fille qui ecoute de la musique">
        </div>
        <div class=content>
          <h2>À propos de Kaporal</h2>
          <p>Kaporal est votre destination ultime pour le streaming de musique.</p>
        </div>
      </div>
      <div class="moreDetails">
        <p>Notre mission chez Kaporal est de révolutionner votre expérience musicale. Que vous cherchiez à découvrir de
          nouveaux artistes, à créer des listes de lecture pour chaque humeur ou simplement à profiter de vos titres
          préférés, Kaporal est là pour vous.</p>
        <p>Chez Kaporal, nous accordons la priorité à l'expérience utilisateur avant tout. Notre interface intuitive
          facilite la navigation dans notre bibliothèque étendue, tandis que nos recommandations personnalisées vous
          aident à découvrir de la musique adaptée à vos goûts.</p>
        <p>Veuillez noter que les droits d'auteur sur la musique diffusée sur Kaporal appartiennent à Deezer. Kaporal
          utilise l'API Deezer pour fournir du contenu musical à ses utilisateurs.</p>
        <p>Rejoignez Kaporal dès aujourd'hui et embarquez dans un voyage musical comme jamais auparavant !</p>

      </div>
    </div>
    <footer>
        <p>&copy; 2024 Kaporal. Tous droits réservés.</p>
    </footer>
</body>

</html>
{{end}}