{{define "error"}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{.ErrorCode}} - {{.ErrorMessage}}</title>
    <style>
       body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
        }

        h1 {
            font-size: 36px;
            color: #333;
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
            color: #666;
        }
    </style>
</head>
<body>
    <h1>{{.ErrorCode}} - {{.ErrorMessage}}</h1>
    <p>Désolé, une erreur s'est produite.</p>
</body>
</html>
{{end}}