{{define "artist"}}
<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <title>Détails de l'artiste</title>
</head>
<body>
  <div id="artistDetails">
    <h1>Détails de l'artiste</h1>
    <p>Nom: {{.Artist.Name}}</p>
    <p>ID: {{.Artist.ID}}</p>
    <p>Nombre d'albums: {{.Artist.NbAlbum}}</p>
    <p>Nombre de fans: {{.Artist.NbFan}}</p>
</div>
<div class="Album-artist">
  {{range .Albums}}
  <div class="album">
    <a href="/album/{{.ID}}"><img src="{{.CoverXl}}" alt="{{.Title}}" ></a>
  <h2>{{.Title}}</h2>
 </div>
  {{end}}
</div>
</body>
</html>
{{end}}