{{define "editorial"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>editorial</title>
</head>
<body>
    
    <h1>EDITORIALS</h1>
    <ul>
        <div class="allEdits">
            {{ range . }}
        <div id="editorial">
            <li>{{ .Name }}</li>
            <img src="{{ .PictureBig }}" alt="{{ .PictureBig }}" width="100px" height="100px">
            {{ end }}
    </ul>
</div>
</div>
</body>
</html>
{{end}}