{{define "favoris"}}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../assets/styles/album.css">
  <title>Mes favoris</title>
</head>
<body>
  <div class="all">
    <div class="first">
      <div class="Kaporal">
        <a href="/home"><img src="/assets/icons/LOGO.png"></a>
      </div>
      <div class="library">
        <h1>Library</h1>
        <a href="/radio">radios</a>
        <a href="/editorial">editorials</a>
        <h1>Ma musique</h1>
        <a href="/favoris">Mes Favoris</a>
      </div>
    </div>
    <!-- .manga$*4 -->

    <div class="second">
      <div class="search">
        <div class="recherche">
          <form action="/search" method="GET" class="search-container">
            <input type="text" name="query" placeholder="Search..." class="search-input" required>
            <input type="radio" name="search_type" value="artist" id="radio-artist" required>
            <label for="radio-artist">Artiste</label>
            <input type="radio" name="search_type" value="album" id="radio-album" required>
            <label for="radio-album">Album</label>
            <input type="radio" name="search_type" value="track" id="radio-track" required>
            <label for="radio-track">Piste</label>
            <button type="submit" class="search-btn"><img class="fas fa-search"
                src="/assets/icons/chercher.png"></button>
          </form>
        </div>
        <div class="lightMode">
          <input class="dark-light" type="checkbox" id="dark-light" name="dark-light" />
          <label for="dark-light"></label>
          <div class="light-back"></div>
        </div>
      </div>
      <div class="TopALL">
        <div class="allSongs">
        {{range .}}
        <div class="track">
      <div class="md5">
     <img src="/assets/images/icons8-musical-note-30.png" alt="note de musique">
      </div>
      <div class="Title">
        <p>{{.title}}</p>
      </div>
      <div class="LIKE">
        <img src="/assets/icons/coeur-brise.png" class="PushLike">
      </div>
      <div class="idMusic"> 
        <a href="{{.preview}}" class="playMusic"><button class="trackButton">Ecouter</button></a >
      </div>
    </div>
    {{end}}
  </div>
    <!-- jouer de la musique -->
    <div class="play-music">
      <audio id="audioPlayer" controls>
          <source id="audioSource" type="audio/mp3">
          Format non pris en Charge.
      </audio>
  </div>
      </div>
     
    </div>
    <script>
   // Fonction pour lire le message vocal de bienvenue avec le pseudo
   function playWelcomeMessage() {
    const message = `Ici, retrouvez tous vos favoris.`;
    const msg = new SpeechSynthesisUtterance(message);
    msg.lang = 'fr-FR'; // Définir la langue sur français
    window.speechSynthesis.speak(msg);
}
// Lire le messagelorsque la page est chargée
window.addEventListener('load', () => {
    playWelcomeMessage();
});
           //JOUER DE LA MUSIQUE
           //Recup  des elements des boutouns play
           const playMusics = document.querySelectorAll('.playMusic');
           const audioPlayer = document.getElementById('audioPlayer');
           const audioSource = document.getElementById('audioSource');
         
           // donner une action à chaque bouton
           playMusics.forEach(playMusic => {
           playMusic.addEventListener('click', (event) => {
               event.preventDefault(); // Empêche la redirection par défaut du lien
               const audioURL = playMusic.href;
               audioSource.src = audioURL;
               audioPlayer.load(); // Charge la piste audio
               audioPlayer.play(); // Lecture de la piste audio chargée
           });
         });</script>
</body>
</html>
{{end}}