{{define "home"}}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/styles/home.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Welcome Guys</title>
</head>

<body>
    <div class="all">
        <div class="first">
            <div class="Kaporal">
                <a href="/home"><img src="/assets/icons/LOGO.png"></a> 
              </div>
            <div class="library">
                <h1>Library</h1>
                <a href="/radio">radios</a>
                <a href="/podcast">Podcasts</a>
                <a href="/allArtists">artists</a>
                <a href="/editorial">editorials</a>
                <h1>Ma musique</h1>
                <a href="/favoris">Mes Favoris</a>
            </div>
        </div>
        <!-- .manga$*4 -->

        <div class="second">
            <div class="search">
                <div class="recherche">
                    <form action="/search" method="GET" class="search-container">
                        <input type="text" name="query" placeholder="Search..." class="search-input" required>
                        <input type="radio" name="search_type" value="artist" id="radio-artist" required>
                        <label for="radio-artist">Artiste</label>
                        <input type="radio" name="search_type" value="album" id="radio-album" required>
                        <label for="radio-album">Album</label>
                        <input type="radio" name="search_type" value="track" id="radio-track" required>
                        <label for="radio-track">Piste</label>
                        <button type="submit" class="search-btn"><img class="fas fa-search" src="/assets/icons/chercher.png"></button>
                    </form>
                    
                </div>
                <div class="lightMode">
                    <input class="dark-light" type="checkbox" id="dark-light" name="dark-light" />
                    <label for="dark-light"></label>
                    <div class="light-back"></div>
                </div>
            </div>

            <div class="TopALL">
                <div class="Top">
                    <div class="FamousSong" id="famousSong" >
                        <div class="infosSong">
                            <p>Musique la plus écoutée </p>
                            <h1>Titre: {{.TopTrack.Title}}</h1>
                            <div class="Description">
                                <h3>{{.Description}}</h3>
                            </div>
                            <h2>Artiste: {{.TopTrack.Artist.Name}}</h2>
                            <h4>Durée: {{.TopTrack.Duration}} sec</h4>
                            <a href="{{.TopTrack.Preview}}" id="playMusic">Ecouter maintenant</a>
                            <h6>Explicit Lyrics: {{.TopTrack.ExplicitLyrics}}</h6>
                        </div>
                        <div class="imageSon">
                            <a href="/artist/{{.TopTrack.Artist.ID}}"> <img src="{{.TopTrack.Album.CoverMedium}}"
                                    alt="{{.TopTrack.Artist.Name}}"></a>
                        </div>
                    </div>

                    <div class="textArt">
                        <p>ARTISTES DU MOMENT</p>
                    </div>
                    <div class="Charts">
                        <div class="prev-arrow" onclick="showNextArtists(-1)">&#10094;</div>
                        <div class="next-arrow" onclick="showNextArtists(1)">&#10095;</div>

                        {{range .TopArtists}}
                        <div class="ChartArtist">
                            <div class="ChartArtist-image">
                                <a href="/artist/{{.ID}}">
                                    <img src="{{.PictureBig}}" alt="{{.Name}}" />
                                </a>
                            </div>
                            <div class="name">
                                <h2>{{.Name}}</h2>
                            </div>
                        </div>
                        {{end}}
                    </div>
                    <!-- jouer de la musique -->
                    <div class="play-music">
                        <audio id="audioPlayer" controls>
                            <source id="audioSource" type="audio/mp3">
                            Format non pris en Charge.
                        </audio>
                    </div>
                </div>
                <div class="FavoirsArt">
                    <p>Likés récements</p>
                </div>
            </div>
        </div>
    </div>

    <script>
        let currentArtistIndex = 0;
        const artists = document.querySelectorAll('.ChartArtist');
        function showNextArtists(direction) {
            currentArtistIndex += direction;
            if (currentArtistIndex < 0) {
                currentArtistIndex = 0;
            } else if (currentArtistIndex >= artists.length) {
                currentArtistIndex = artists.length - 1;
            }
            for (let i = 0; i < artists.length; i++) {
                if (i < currentArtistIndex || i >= currentArtistIndex + 3) {
                    artists[i].style.display = 'none';
                } else {
                    artists[i].style.display = 'flex';
                }
            }
        }
        showNextArtists(0);


        //JOUER DE LA MUSIQUE
        //Recup  des elements des boutouns play
        const playMusic = document.getElementById('playMusic');
        const audioPlayer = document.getElementById('audioPlayer');
        const audioSource = document.getElementById('audioSource');
        const progressBar = document.getElementById('progressBar');

        // donner une action à chaque bouton
        playMusic.addEventListener('click', (event) => {
            event.preventDefault(); // Empêche la redirection par défaut du lien
            const audioURL = playMusic.href;
            audioSource.src = audioURL;
            audioPlayer.load(); // Charge la piste audio
            audioPlayer.play(); // Lecture de la piste audio chargée
        });

        audioPlayer.addEventListener('timeupdate', () => {
            const percentage = (audioPlayer.currentTime / audioPlayer.duration) * 100;
            progressBar.value = percentage;
        });
    </script>
</body>

</html>
{{end}}