{{define "home"}}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Guys</title>
</head>

<body>
    <div class="all">
        <div class="search">
            <p>barre de recherche</p>
        </div>
        <div class="Box">
            <p>box box</p>
        </div>

        <div class="FamousSong">
            <div class="infosSong">
                <h2>Musique la plus écoutée </h2>
                <h1>Description : {{.Description}}</h1>
                <h1>Titre: {{.TopTrack.Title}}</h1>
                <h2>Artiste: {{.TopTrack.Artist.Name}}</h2>   
                <h1>{{.TopTrack.Duration}} sec</h1>
            </div>
            <div class="imageSon">
                <img src="{{.TopTrack.Album.CoverMedium}}" alt="{{.TopTrack.Album.CoverMedium}}">
            </div> 
        </div>

        <div class="Charts">
            {{range .TopArtists}}
            <div class="ChartArtist">
                <h2>{{.Name}}</h2>
                <img src="{{.Picture}}" alt="{{.Name}}" />
            </div>
            {{end}}
        </div>

        <h1>Library</h1>
        <a href="/radio">radios</a>
        <a href="/artists">artists</a>
        <a href="/editorial">editorials</a>
        <a href="/search">search</a>
    </div>
</body>

</html>
{{end}}