{{define "radio"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/styles/radio.css">
    <title>Document</title>
</head>

<body>

    <div class="AllProduct">
        {{ range .}}
        <div class="PRODUCT">

            <div class="IMAGE">
                <img src="{{ .Picture }}" alt="{{ .Title }}">
            <div id="Like"> 
                    <button class="like-button">
                        <span class="like-icon">&#10084;</span>
                      </button>
              </div>
            </div>
            <div id="TEXT">
                <p><b>{{.Title}} </b></p>          
            </div>
        </div>
        {{end}}
    </div>
</body>

</html>
{{end}}